---
import EmployeeCard from "@components/EmployeeCard.astro";
import employees from "@data/employees.json";

const { Limit = null } = Astro.props;

const shownEmployees = Limit ? employees.slice(0, Limit) : employees;
---

<section>
  {shownEmployees.map((emp) => <EmployeeCard employee={emp} />)}
</section>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
    gap: 1.5625rem;
  }
</style>
