---

---

<section>
  <ul>
    <slot />
  </ul>
</section>
<style>
  section {
    overflow-x: auto;
    display: flex;
    grid-column: edge;
  }
  ul {
    height: 300px;
    padding: 10px;
    columns: 1;
  }
</style>
