---

---
<div class="footer">
<h3>AskEkspert</h3>
<hr class="divider" />
<p>©2025 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
</div>



<style>
    .footer {
        display: flex;
        padding: 46px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: black;
        color: white;
    }

    .divider {
        width: 1200px;
        height: 1px;
        background-color: #707070;;
        border: none;
        margin: 10px 0;
    }
</style>