/* Globale styles her */
:root {
  /* from figma */
  --primary01: #ffcc4a;
  --primary02: #4eaf4e;
  --primary03: #181818;

  --secondary01: #f5f5f5;
  --secondary02: #ffffff;

  --backgroundPrimary01: #fbc336;

  /* my props */
  --primary03Opacity: hsla(0, 0%, 9%, 0.91);
  --primary-font-color: #595566;
  --primary-heading-color: #1c1c1c;
  --border-radius: 20px;
}
body {
  --side-space: clamp(1.2rem, 7vw, 3.5rem);
  --wide: minmax(var(--side-space), 1fr);
  --main: min(1200px, calc(100% - var(--side-space) * 2));
  --highlight: minmax(0, 7.5rem);
  display: grid;
  grid-template-columns:
    [edge-start] var(--wide)
    [breakout-start] var(--highlight)
    [main-start] var(--main) [main-end]
    var(--highlight) [breakout-end]
    var(--wide) [edge-end];
  gap: 0 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-heading-color);
  font-family: Cabin;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.8125rem;
}
h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.1875rem;
}
h5 {
  font-size: 1.875rem;
}
h6 {
  font-size: 1.5625rem;
}

.tagline {
  color: var(--primary03);
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 147.5%;
  letter-spacing: 0.145rem;
  text-transform: uppercase;
}

.grid1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main {
  grid-column: main;
}

.yellow {
  background-color: var(--backgroundPrimary01);
}
.lightgray {
  background-color: #f5f5f5;
}
.darkgray {
  background-color: var(--primary03Opacity);
  * {
    color: var(--secondary02);
  }
}
.black {
  background-color: var(--primary03);
  * {
    color: var(--secondary02);
  }
}

/* section {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: edge;
} */
