/* Globale styles her */

:root{
    --primary01-color:#FFCC4A;
    --primary02-color:#4EAF4E;
    --primary03-color:#181818;
    --secondary01-color:#F5F5F5;
    --secondary02-color:#FFFFFF;
}

p{
    line-height: 147.5%;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

h2{
    font-family: Cabin;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 116%;
}