:root {
  /* ==== Colors ==== */
  /* PRIMITIVES */
  --color-yellow-500: #ffcc4a;
  --color-green-400: #a4eda4;
  --color-neutrals-50: #f9fafb;
  --color-neutrals-200: #eaedf1;
  --color-neutrals-900: #030712;
  --color-neutrals-700: #5a606f;
  --color-blue-700: #101828;
  --color-blue-700-transparent: rgba(16 24 40 / 0.9);
  --color-green-600: #4bb84b;
  --color-neutrals-100: #f9fafb;
  --color-neutrals-400: #99a1af;
  --color-yellow-600: #fbc336;
  --color-neutrals-1000: rgba(3, 7, 18, 0.9);

  /* TOKENS */
  --color-action: var(--color-yellow-500);
  --color-text: var(--color-neutrals-900);
  --color-text-muted: var(--color-neutrals-700);
  --color-surface-primary: #ffffff;
  --color-surface-secondary: var(--color-neutrals-50);
  --color-surface-tertiary: var(--color-neutrals-200);
  --color-surface-elevated: var(--color-blue-700);
  --color-surface-elevated-transparent: var(--color-blue-700-transparent);
  --color-ui-secondary: var(--color-green-400);
  --color-ui-secondary-alternative: var(--color-green-600);
  --color-on-surface-elevated: var(--color-neutrals-50);
  --color-ui-primary: var(--color-neutrals-900);
  --color-on-ui-primary: var(--color-neutrals-50);
  --color-text-weak: var(--color-neutrals-400);
  --color-surface-highlight: var(--color-yellow-600);
  --color-on-ui-primary-muted: var(--color-neutrals-400);

  /* ==== Spacing ==== */

  /* ==== SPACING (baseret på line-height) ==== */

  --space-3xs: clamp(0.25rem, 0.23rem + 0.1vw, 0.3125rem); /* 4 → 5 */
  --space-2xs: clamp(0.5rem, 0.45rem + 0.2vw, 0.625rem); /* 8 → 10 */
  --space-xs: clamp(0.75rem, 0.7rem + 0.25vw, 0.9375rem); /* 12 → 15 */

  --space-s: clamp(1rem, 0.9rem + 0.4vw, 1.25rem); /* 16 → 20 */
  --space-m: clamp(1.5rem, 1.35rem + 0.6vw, 1.875rem); /* 24 → 30 */

  --space-l: clamp(2rem, 1.8rem + 0.8vw, 2.5rem); /* 32 → 40 */
  --space-xl: clamp(3rem, 2.7rem + 1.2vw, 3.75rem); /* 48 → 60 */

  --space-2xl: clamp(4rem, 3.6rem + 1.6vw, 5rem); /* 64 → 80 */
  --space-3xl: clamp(6rem, 5.4rem + 2.4vw, 7.5rem); /* 96 → 120 */

  /*  ===== FONT SiZE =====  */

  /* ==== FONT SIZE (360 → 1200 vokser) ==== */

  /* Step -2: ~10.24px → 12.5px */
  --step--2: clamp(0.64rem, 0.58rem + 0.3vw, 0.78rem);

  /* Step -1: ~12.8px → 15px */
  --step--1: clamp(0.8rem, 0.7rem + 0.4vw, 0.94rem);

  /* Step 0: ~16px → 18px */
  --step-0: clamp(1rem, 0.9rem + 0.5vw, 1.125rem);

  /* Step 1: ~20px → 21.6px */
  --step-1: clamp(1.25rem, 1.1rem + 0.6vw, 1.35rem);

  /* Step 2: ~25px → 25.92px */
  --step-2: clamp(1.5625rem, 1.4rem + 0.7vw, 1.62rem);

  /* Step 3: ~31.1px → 31.25px */
  --step-3: clamp(1.944rem, 1.8rem + 0.6vw, 1.953rem);

  /* Step 4: ~37.28px → 39.04px */
  --step-4: clamp(2.33rem, 2.2rem + 0.8vw, 2.44rem);

  /* Step 5: ~44.8px → 48.8px */
  --step-5: clamp(2.8rem, 2.6rem + 1vw, 3.05rem);

  /* Step 6: ~50px → 50px */
  --step-6: clamp(3.125rem, 3rem + 0.5vw, 3.125rem);

  /* Step 7: ~60px → 60px */
  --step-7: clamp(3.75rem, 3.6rem + 0.5vw, 3.75rem);
}
