:root {
  /* ==== Colors ==== */
  /* PRIMITIVES */
  --color-yellow-500: #ffcc4a;
  --color-green-400: #a4eda4;
  --color-neutrals-50: #f9fafb;
  --color-neutrals-200: #eaedf1;
  --color-neutrals-900: #030712;
  --color-neutrals-700: #5a606f;
  --color-blue-700: #101828;
  --color-blue-700-transparent: rgba(16 24 40 / 0.9);
  --color-green-600: #4bb84b;
  --color-neutrals-100: #f9fafb;
  --color-neutrals-400: #99a1af;
  --color-yellow-600: #fbc336;

  /* TOKENS */
  --color-action: var(--color-yellow-500);
  --color-text: var(--color-neutrals-900);
  --color-text-muted: var(--color-neutrals-700);
  --color-surface-primary: #ffffff;
  --color-surface-secondary: var(--color-neutrals-50);
  --color-surface-tertiary: var(--color-neutrals-200);
  --color-surface-elevated: var(--color-blue-700);
  --color-surface-elevated-transparent: var(--color-blue-700-transparent);
  --color-ui-secondary: var(--color-green-400);
  --color-ui-secondary-alternative: var(--color-green-600);
  --color-on-surface-elevated: var(--color-neutrals-50);
  --color-ui-primary: var(--color-neutrals-900);
  --color-on-ui-primary: var(--color-neutrals-50);
  --color-text-weak: var(--color-neutrals-400);
  --color-surface-highlight: var(--color-yellow-600);
  --color-on-ui-primary-muted: var(--color-neutrals-400);

  /* ==== Spacing ==== */

  /* Space 3xs: 5px → 5px */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  /* Space 2xs: 9px → 10px */
  --space-2xs: clamp(0.5625rem, 0.5357rem + 0.119vw, 0.625rem);
  /* Space xs: 14px → 15px */
  --space-xs: clamp(0.875rem, 0.8482rem + 0.119vw, 0.9375rem);
  /* Space s: 18px → 20px */
  --space-s: clamp(1.125rem, 1.0714rem + 0.2381vw, 1.25rem);
  /* Space m: 27px → 30px */
  --space-m: clamp(1.6875rem, 1.6071rem + 0.3571vw, 1.875rem);
  /* Space l: 36px → 40px */
  --space-l: clamp(2.25rem, 2.1429rem + 0.4762vw, 2.5rem);
  /* Space xl: 54px → 60px */
  --space-xl: clamp(3.375rem, 3.2143rem + 0.7143vw, 3.75rem);
  /* Space 2xl: 72px → 80px */
  --space-2xl: clamp(4.5rem, 4.2857rem + 0.9524vw, 5rem);
  /* Space 3xl: 108px → 120px */
  --space-3xl: clamp(6.75rem, 6.4286rem + 1.4286vw, 7.5rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 5px → 10px */
  --space-3xs-2xs: clamp(0.3125rem, 0.1786rem + 0.5952vw, 0.625rem);
  /* Space 2xs-xs: 9px → 15px */
  --space-2xs-xs: clamp(0.5625rem, 0.4018rem + 0.7143vw, 0.9375rem);
  /* Space xs-s: 14px → 20px */
  --space-xs-s: clamp(0.875rem, 0.7143rem + 0.7143vw, 1.25rem);
  /* Space s-m: 18px → 30px */
  --space-s-m: clamp(1.125rem, 0.8036rem + 1.4286vw, 1.875rem);
  /* Space m-l: 27px → 40px */
  --space-m-l: clamp(1.6875rem, 1.3393rem + 1.5476vw, 2.5rem);
  /* Space l-xl: 36px → 60px */
  --space-l-xl: clamp(2.25rem, 1.6071rem + 2.8571vw, 3.75rem);
  /* Space xl-2xl: 54px → 80px */
  --space-xl-2xl: clamp(3.375rem, 2.6786rem + 3.0952vw, 5rem);
  /* Space 2xl-3xl: 72px → 120px */
  --space-2xl-3xl: clamp(4.5rem, 3.2143rem + 5.7143vw, 7.5rem);

  /*  ===== FONT SiZE =====  */

  /* Step -2: 12.5px → 10.24px */
  --step--2: clamp(0.64rem, 0.8418rem + -0.269vw, 0.7813rem);
  /* Step -1: 15px → 12.8px */
  --step--1: clamp(0.8rem, 0.9964rem + -0.2619vw, 0.9375rem);
  /* Step 0: 18px → 16px */
  --step-0: clamp(1rem, 1.1786rem + -0.2381vw, 1.125rem);
  /* Step 1: 21.6px → 20px */
  --step-1: clamp(1.25rem, 1.3929rem + -0.1905vw, 1.35rem);
  /* Step 2: 25.92px → 25px */
  --step-2: clamp(1.5625rem, 1.6446rem + -0.1095vw, 1.62rem);
  /* Step 3: 31.104px → 31.25px */
  --step-3: clamp(1.944rem, 1.9401rem + 0.0174vw, 1.9531rem);
  /* Step 4: 37.3248px → 39.0625px */
  --step-4: clamp(2.3328rem, 2.2863rem + 0.2069vw, 2.4414rem);
  /* Step 5: 44.7898px → 48.8281px */
  --step-5: clamp(2.7994rem, 2.6912rem + 0.4808vw, 3.0518rem);
  /* Step 6: 50px → 50px */
  --step-6: clamp(3.125rem, 3.125rem + 0vw, 3.125rem);
  /* Step 7: 60px → 60px */
  --step-7: clamp(3.75rem, 3.75rem + 0vw, 3.75rem);
}
