---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import CoreValues from "@components/CoreValues.astro";
import Banner from "@components/Banner.astro";
import FooterCard from "@components/FooterCard.astro";
---

<Layout>
  <Header />
  <Banner title="About" />
  <!-- text with overlap pic-->
  <!-- numers lined up-->
  <CoreValues />
  <!-- our team ((our team))-->
  <!-- ((FAG)) -->
  <section></section>
  <FooterCard />
</Layout>
