---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import CoreValues from "@components/CoreValues.astro";
import Banner from "@components/Banner.astro";
import FooterCard from "@components/FooterCard.astro";
---

<style>
  div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 100px;
  }
</style>

<Layout>
  <section><div><h1>Vi Nåede ikke i mål med den her side</h1></div></section>
</Layout>
