---
import Layout from "@layouts/Layout.astro";
import CaseStudyArticle from "@components/CaseStudyArticle.astro";
---

<Layout>
  <header>
    <p>Case Studies</p>
    <h1>Taxes & Efficiency</h1>
  </header>

  <CaseStudyArticle />
</Layout>
