---
import Layout from "@layouts/Layout.astro";
import CaseStudyArticle from "@components/CaseStudyArticle.astro";
import HeroBgWrapper from "@components/helpers/HeroBgWrapper.astro";
import SectionWrapper from "@components/containers/SectionWrapper.astro";
---

<Layout>
  <HeroBgWrapper imagePath="case.jpg">
    <header>
      <p>Case Studies</p>
      <h1>Taxes & Efficiency</h1>
    </header>
  </HeroBgWrapper>
  <SectionWrapper Padding="150px 0 0 0">
    <CaseStudyArticle />
  </SectionWrapper>
</Layout>
