---
import Layout from "@layouts/Layout.astro";
import CaseStudyArticle from "@components/CaseStudyArticle.astro";
import HeroBgWrapper from "@components/helpers/HeroBgWrapper.astro";
import Newsletter from "@components/Newsletter.astro";
---

<Layout>
  <HeroBgWrapper imagePath="case.jpg">
    <header>
      <p>Case Studies</p>
      <h1>Taxes & Efficiency</h1>
    </header>
  </HeroBgWrapper>
  <main>
    <CaseStudyArticle />
    <Newsletter />
  </main>
</Layout>
