---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Header from "@components/Header.astro";
import FactCard from "@components/FactCard.astro";
import FooterCard from "@components/FooterCard.astro";
---

<Layout>
  <section class="full-bleed">
    <p>Hello</p>
  </section>
  <!-- <Header /> -->
  <!-- <Hero /> -->
  <!-- <section></section> -->
  <!-- <FooterCard /> -->
</Layout>

<style>
  section {
    background-color: red;
  }
</style>
