---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Header from "@components/Header.astro";
import FactCard from "@components/FactCard.astro";
import FooterCard from "@components/FooterCard.astro";
import WhatToExpect from "@components/WhatToExpect.astro";
import Xx from "@components/FinalProjectsCard.astro";
import FinalProjects from "@components/finalProjects.astro";
---

<Layout>
  <Header />
  <Hero />
  <WhatToExpect />
  <FinalProjects>
    <section></section>
    <FooterCard />
  </FinalProjects>

  <style></style>
</Layout>
