---
import Layout from "../layouts/Layout.astro";
import EmployeesContainer from "@components/containers/EmployeesContainer.astro";
import Button from "@components/Button.astro";
---

<Layout Title="Team">
  <main>
    <!-- <div class="grid1-1">
      <div class="col">
        <h2>Meet Our Great Team</h2>
        <p>Welcome to our amazing team! We are a group of passionate individuals dedicated to excellence and innovation. Each member brings unique skills and experiences, working together to achieve our goals. Join us as we embark on exciting projects and create lasting impacts.</p>
      </div>
      <Button Text="Join our team" Type="black" />
    </div> -->
    <EmployeesContainer />
  </main>
</Layout>

<style></style>
