---
import { Image } from 'astro:assets';
import curls from '@data/images/curls.jpg';
import meet from '@data/images/meet.jpg';
import talk from '@data/images/talk.jpg';
---

<style>
    .pattern-bg::before {
        --square-count: 10;
        --square-size: 1.34rem;
        --_square-size: var(--square-size, 1rem);
        --_square-half: calc(var(--square-size) / 2);
        --_square-sum: calc(var(--square-count) * var(--square-size));

        mask:
            var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
            var(--square-pattern) var(--_square-half) var(--_square-half) /
                var(--_square-size) var(--_square-size);
    }
</style>

<section class="bg-neutral-0 flex flex-row py-20 px-4 lg:px-20 gap-10">
    <div class="flex flex-col gap-5 w-full md:w-[40%]">
        <h2 class="font-lato text-md uppercase">Process</h2>
        <h1 class="font-cabin text-4xl">Contact Us. It’s Easy.</h1>
        <p class="font-lato text-md mb-10">
            Leverage agile frameworks to provide a robust synopsis for high
            level overviews. Iterative approaches to corporate strategy foster
            collaborative.
        </p>
        <div class="flex flex-row gap-2 align-center mb-5">
            <svg
                class="bg-amber-200 rounded-full p-3 w-12 h-12"
                width="6"
                height="6"
                viewBox="0 0 26 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M8.10262 13.1889C9.14039 15.332 10.8733 17.0605 13.019 18.0928C13.1773 18.1677 13.3524 18.2001 13.527 18.1869C13.7016 18.1736 13.8698 18.1151 14.0149 18.0171L17.1665 15.9119C17.3057 15.8174 17.4666 15.7598 17.6341 15.7444C17.8017 15.729 17.9704 15.7562 18.1245 15.8236L24.0242 18.3575C24.2259 18.4414 24.3943 18.5893 24.5037 18.7783C24.613 18.9674 24.6572 19.1872 24.6293 19.4038C24.4423 20.8633 23.73 22.2046 22.6255 23.1768C21.521 24.149 20.1002 24.6855 18.6288 24.6858C14.0818 24.6858 9.72106 22.8795 6.50586 19.6643C3.29066 16.4491 1.48438 12.0884 1.48438 7.54138C1.48471 6.06998 2.02116 4.64912 2.99337 3.54466C3.96557 2.4402 5.3069 1.72782 6.76637 1.54083C6.98299 1.51301 7.20275 1.55716 7.39182 1.6665C7.58088 1.77584 7.72876 1.94429 7.81268 2.14593L10.3465 8.05823C10.4124 8.20994 10.44 8.37553 10.4268 8.54041C10.4136 8.70529 10.3601 8.86439 10.2709 9.00369L8.16565 12.2057C8.07193 12.3505 8.01692 12.5169 8.00588 12.6891C7.99485 12.8612 8.02815 13.0333 8.10262 13.1889V13.1889Z"
                    stroke="#DEAA27"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
            <div class="flex flex-col">
                <p class="font-lato">Call Today</p>
                <p class="font-lato font-semibold">+1 800 100 900</p>
            </div>
        </div>
        <div class="flex flex-row gap-2 align-center mb-5">
            <svg
                class="bg-green-200 rounded-full p-3 w-12 h-12"
                width="25"
                height="25"
                viewBox="0 0 25 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M12.5425 23.9312C18.6659 23.9312 23.6299 18.9672 23.6299 12.8438C23.6299 6.72035 18.6659 1.75635 12.5425 1.75635C6.41908 1.75635 1.45508 6.72035 1.45508 12.8438C1.45508 18.9672 6.41908 23.9312 12.5425 23.9312Z"
                    stroke-width="2"
                    stroke="
                    #4EAF4E"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                <path
                    d="M12.543 6.37598V12.8436H19.0106"
                    stroke="#4EAF4E"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
            <div class="flex flex-col">
                <p class="font-lato">Monday To Friday</p>
                <p class="font-lato font-semibold">9AM - 5PM</p>
            </div>
        </div>
        <div class="flex flex-row gap-2 align-center">
            <svg
                class="bg-neutral-200 rounded-full p-3 w-12 h-12"
                width="21"
                height="27"
                viewBox="0 0 21 27"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M10.2406 14.6521C12.2795 14.6521 13.9323 12.9992 13.9323 10.9603C13.9323 8.92141 12.2795 7.26855 10.2406 7.26855C8.20168 7.26855 6.54883 8.92141 6.54883 10.9603C6.54883 12.9992 8.20168 14.6521 10.2406 14.6521Z"
                    stroke="currentcolor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                <path
                    d="M19.4685 10.9603C19.4685 19.2668 10.2392 25.7274 10.2392 25.7274C10.2392 25.7274 1.00977 19.2668 1.00977 10.9603C1.00977 8.51256 1.98214 6.16503 3.71299 4.43418C5.44384 2.70334 7.79137 1.73096 10.2392 1.73096C12.6869 1.73096 15.0345 2.70334 16.7653 4.43418C18.4962 6.16503 19.4685 8.51256 19.4685 10.9603V10.9603Z"
                    stroke="currentcolor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
            <div class="flex flex-col">
                <p class="font-lato">USA Office</p>
                <p class="font-lato font-semibold">
                    195 Devonshire St Boston, MA 02110
                </p>
            </div>
        </div>
    </div>
    <div
        class="grid-cols-2 grid-rows-2 hidden md:grid w-[60%] h-full gap-5 place-self-center relative pattern-bg before:content-[''] before:absolute before:-z-10 before:-top-[30px] before:-right-[30px] before:w-[calc(10*1.34rem-0.67rem)] before:aspect-square before:bg-gradient-to-br before:from-[#BE965D] before:via-[#976F40] before:to-[#C99B61] before:via-[#F0BE7B] before:via-[#FFCB85] before:via-[#EEBC79] before:via-[#C0935B] before:to-[#976F40] after:content-[''] after:absolute after:-z-10 after:-left-4 after:-bottom-4 after:w-[150px] after:h-[100px] after:bg-green-500 after:rounded-[10px]"
        style='--square-pattern: url(&apos;data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red"><path d="M7.47662 4.02206C6.50635 3.05178 5.53232 2.07774 4.56205 1.10745C4.28482 0.83023 3.80905 0.83023 3.53183 1.10745C2.56155 2.07774 1.59128 3.04803 0.621002 4.02206C0.343781 4.29929 0.343781 4.77506 0.621002 5.05229C1.59128 6.02258 2.5653 6.99661 3.53558 7.9669C3.8128 8.24412 4.28857 8.24412 4.56579 7.9669C5.53607 6.99661 6.51009 6.02258 7.48037 5.05229C7.63022 4.90244 7.69016 4.73011 7.69016 4.56527C7.69016 4.55403 7.69016 4.54654 7.69016 4.5353C7.69016 4.52781 7.69016 4.51657 7.69016 4.50908C7.69016 4.34424 7.63022 4.17191 7.47662 4.02206ZM4.04881 6.41968C3.41944 5.79031 2.79382 5.16468 2.16445 4.5353C2.79382 3.90593 3.41944 3.2803 4.04881 2.65092C4.67818 3.2803 5.3038 3.90593 5.93317 4.5353C5.3038 5.16468 4.67818 5.79031 4.04881 6.41968Z"/></svg>&apos;);'
    >
        <Image
            src={curls}
            alt="Curls"
            class="col-start-1 col-end-1 row-span-full object-fill content-stretch rounded-2xl !h-[100%] w-full"
        />
        <Image
            src={meet}
            alt="Meet"
            class="col-start-2 col-end-2 row-span-1 object-fill content-stretch rounded-2xl !h-[100%] w-full"
        />
        <Image
            src={talk}
            alt="Talk"
            class="col-start-2 col-end-2 row-start-2 object-fill content-stretch rounded-2xl !h-[100%] w-full"
        />
    </div>
</section>
