---
import "../styles/tokens.css";
---

<section>
  <div class="banner">
    <h3>ABOUT</h3>
    <h2>Igniting innovation</h2>

    <p>
      Our strength lies in the collaboration between our talented teams and
      esteemed clients. We cultivate a workplace that champions innovation,
      promotes peak performance, and guarantees client satisfaction.
    </p>
  </div>
</section>

<style></style>
