---
import "../styles/tokens.css";

const { title } = Astro.props;
---

<section>
  <div>
    <h2>{title}</h2>
    <h3>Igniting innovation</h3>

    <p>
      Our strength lies in the collaboration between our talented teams and
      esteemed clients. We cultivate a workplace that champions innovation,
      promotes peak performance, and guarantees client satisfaction.
    </p>
  </div>
</section>

<style>
  section {
    place-items: center;
  }
  h2 {
    text-transform: uppercase;
  }
</style>
