---
import HeaderContent from "./HeaderContent.astro";
---

<article class="full-bleed">
  <HeaderContent />
  <h2>EXPERIENCE</h2>
  <h3>More than 25 years of experience</h3>
  <p>3000+ our clients are insured around the World</p>

  <div></div>
</article>

<style>
  article {
    background-color: var(--color-surface-highlight);
  }

  div {
    border: 10px solid #000000;
    background:
      conic-gradient (#fff 0 100%) padding-box,
      conic-gradient (red 25%, blue 0) border-box;
    border-radius: 999px;
  }
</style>
