---
import HeaderContent from "./HeaderContent.astro";
---

<article class="full-bleed">
  <HeaderContent />
  <h2>EXPERIENCE</h2>
  <h3>More than 25 years of experience</h3>
  <p>3000+ our clients are insured around the World</p>
</article>

<style>
  article {
    background-color: var(--color-surface-highlight);
  }
</style>
