---
import experienceData from '@data/experience.json';
---

<section class="bg-amber-300 flex flex-col py-20 px-4 md:px-20 lg:px-20 gap-5">
    <h1 class="font-lato text-md">Experience</h1>
    <section class="flex flex-row gap-10">
        <div class="flex flex-col w-[35%]">
            <h2 class="font-cabin text-2xl font-bold">
                {experienceData.heading}
            </h2>
            <h3 class="font-lato text-lg">{experienceData.subheading}</h3>
        </div>
    </section>
</section>
