---
const Type = Astro.props.Type;

---
<article class={Type}>
    <h3>fixedCard</h3>
<p></p>
</article>

<style>
.finance{
    background-color: #EBEBEB;
    :hover{
    background-color: var(--primary03);
    color: var(--secondary02);
}

}
</style>