---

---

<footer>
  <div class="footer-inner">
    <h2>AskExperts</h2>
    <div class="divider"></div>
    <p>©2025 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
  </div>
</footer>
<style>
  footer {
    height: 219px;
    display: grid;
    grid-column: edge;
    background-color: var(--primary03);
  }

  h2 {
    font-size: 1.875rem;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .footer-inner {
    * {
      color: var(--secondary02);
    }
  }
  .divider {
    width: 100%;
    border: 1px solid var(--secondary02);
  }
</style>
