---
import FooterContact from "@data/images/footercontact.svg";
---

<section>
  <h2>Stay Updated</h2>
  <h1>Subscribe Our Newsletter</h1>
  <p>Build stronger Customer Relationships with Consultalk</p>
  <input type="text" />
  <button>Subscribe </button>
  <div>
    <FooterContact />
  </div>
</section>

<style></style>
