---
---
<footer class="w-full flex flex-col gap-20">
    <div class="w-[60%] h-fit mx-auto bg-neutral-900 text-white p-15 rounded-xl flex justify-between items-center">
        <div class="w-[50%] flex flex-col gap-2">
            <h2 class="text-xl font-cabin">Subscribe to our newsletter</h2>
            <p class="text-xs font-lato">Build stronger Customer Relationships with <strong>Consultalk</strong></p>
        </div>
        <form class="flex items-center gap-2">
            <input type="email" placeholder="your mail address" class="bg-neutral-50 p-2 py-3 text-neutral-800 font-lato text-sm"/>
            <button type="submit" class="bg-amber-300 text-neutral-800 px-4 py-1.5 rounded-3xl font-lato text-sm font-semibold">Subscribe</button>
        </form>
    </div>
    <div class="w-full bg-neutral-800 h-35 flex flex-col gap-5 justify-center items-center">
       <h2 class="text-white font-cabin text-2xl">AskExperts</h2>
       <div class="h-[1px] w-200 bg-neutral-50"></div>
       <p class="text-white font-lato text-sm">©2025 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
    </div>
</footer>