---
import Logo from "@data/images/Logo.gul.svg";
import "../styles/tokens.css";
---

<header>
  <div class="header">
    <Logo />
    <nav>
      <a href="/">Home</a>
      <a href="/fakta">Case study</a>
      <a href="/planer">Team</a>
      <a href="/planside">About</a>
    </nav>
    <button>Login</button>
  </div>
</header>

<style>
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: var(--color-neutrals-700);
  }

  nav a {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: x-large;
    font-style: normal;
  }

  nav {
    display: flex;
    gap: 20px;
    justify-content: center; /* centrer horisontalt */
    align-items: center;
  }

  img {
    width: 20%;
    height: auto;
    padding-left: 3rem;
  }

  a {
    color: rgba(197, 212, 220, 1);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
