---
import Services from "./Services.astro";
import EmployeesData from "./EmployeesData.astro";
---

<section class="hero">
  <!-- Markup her -->

  <EmployeesData />
  <Services />
</section>

<style>
  /* Styles her */
</style>
