---
//@ts-nocheck
import servicesData from '@data/services.json';
// console.log(servicesData);
---

<ul
    class="col-span-2 grid grid-cols-1 md:grid-cols-3 gap-5 w-full mx-auto lg:w-[80%] p-10 translate-y-[-150px] lg:translate-y-[-150px] z-10"
>
    {
        servicesData.services.map((service) => (
            <li class="text-white col-span-1 p-10 gap-5 bg-neutral-900/80 backdrop-blur-sm rounded-xl border border-neutral-700 flex flex-col justify-between min-h-30">
                <div>
                    <h2 class="text-lg font-cabin mb-4">{service.title}</h2>
                    <p class="font-lato text-sm">{service.description}</p>
                </div>
                <a
                    href="#0"
                    class="bg-neutral-900 hover:bg-neutral-50 hover:text-neutral-900 hover:border-neutral-900 border border-transparent transition-all duration-300 text-neutral-50 w-fit px-6 py-4 rounded-3xl font-lato text-xs font-semibold mt-auto"
                >
                    {service.buttonText}
                </a>
            </li>
        ))
    }
</ul>
