---
const { service } = Astro.props;
import ArrowRight from "@icons/arrow--right.svg";
---

<article>
  <h2 class="--cabin-25-semibold-white">{service.title}</h2>
  <p class="--lato-18-reg-white">{service.description}</p>
  <a class="--lato-18-bold-yellow-underline" href="#0"
    >{service.buttonText} <ArrowRight stroke-width={2.5} /></a
  >
  <!-- <a> burde måske være en variant af en component -->
</article>

<style>
  @layer components {
    article {
      background: var(--color-blue-700-transparent);
      color: var(--color-on-surface-elevated);
      padding: 2rem;
      border-radius: 20px;
    }
    a {
      display: inline flex;
      gap: 1ch;
      color: var(--color-action);
      font-weight: bold;

      svg {
        inline-size: 16px;
      }
    }
  }
</style>
