---
import "../styles/main.css";
---

<section>
	<div>
		<p class="lato-regular-16">STAY UPDATED</p>
		<h3>Subscribe Our Newsletter</h3>
		<p class="lato-regular-16">
			Build stronger Customer Relationships with <span>Consultalk</span>
		</p>

		<form>
			<input
				type="text"
				id="email"
				name="email"
				placeholder="your mail address"
			/>
			<input type="submit" value="Subscribe" id="submit" />
		</form>
	</div>
	<hr />
	<div class="flex-row">
		<h4>Ask<span>Experts</span></h4>
		<p class="lato-regular-16">©2025 Consultalk. All rights reserved</p>
		<p class="lato-regular-16">Terms of Service | Privacy Policy</p>
	</div>
</section>

<style>
	/* p,
	h4,
	h3,
	input {
		color: white;
	}

	section {
		padding: 20px 0px;
		background-color: var(--color-ui-primary);

		div:nth-child(1) {
			padding: 20px;
			text-align: center;

			form #email {
				border-radius: 104px;
				padding: 10px;
				border: 1px solid #99a1af;
			}

			form input:nth-child(2) {
				border-radius: 104px;
				padding: 10px;
				border: 1px solid #99a1af;
				background-color: #fbc336;
				cursor: pointer;
			}
		}

		div:nth-child(2) {
			margin-top: 50px;
			margin-bottom: 50px;
		}
	}

	hr {
		width: 100%;
		height: 1px;
		background-color: #ffffff;
		border: none;
		margin: 20px 0;
	}

	.flex-row {
		display: flex;
		justify-content: space-evenly;
		flex-direction: row;
		flex-wrap: wrap;
		flex: 0 100px;
		gap: 1rem;
		margin: 50px 0px;
	} */
</style>
