---
import "@styles/main.css";
import '../styles/global.css'
import Header from "@components/Header.astro";
import { Font } from 'astro:assets';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>DIN TITEL HER. MÅSKE SOM PROP?</title>
    <Font cssVariable="--font-cabin" preload/>
    <Font cssVariable="--font-lato" preload/>
    <style is:inline>
      @layer reset, global, components, overrides;
    </style>
  </head>
  <body>
    <Header />
    <main class="pt-18">
      <slot />
    </main>
  </body>
</html>