---
import "@styles/main.css";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>DIN TITEL HER. MÅSKE SOM PROP?</title>
    <style is:inline>
      @layer reset, global, tokens, components, overrides;
    </style>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <footer>footer</footer>
  </body>
</html>

<style>
  @view-transition {
    navigation: auto;
  }
  @layer global {
    body {
      display: grid;
      grid-template-columns:
        [full-start] 1fr [content] minmax(0, 1200px)
        1fr [full-end];
    }

    header,
    footer,
    main,
    section {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: full;
      > * + * {
        margin-top: 2rem;
      }
      > :not(&) {
        grid-column: content;
      }
    }
  }
</style>
