---
import '@styles/main.css';
import '../styles/global.css';
import Header from '@components/global/Header.astro';
import Footer from '@components/global/Footer.astro';
import { Font } from 'astro:assets';
const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <Font cssVariable="--font-cabin" preload />
        <Font cssVariable="--font-lato" preload />
        <style is:inline>
            @layer reset, global, components, overrides;
        </style>
    </head>
    <body>
        <Header />
        <main class="pt-16">
            <slot />
        </main>
        <Footer />
    </body>
</html>
