---
import "@styles/main.css";
import Header from "@components/helpers/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>DIN TITEL HER. MÅSKE SOM PROP?</title>
    <style is:inline> 
      @layer reset, global, components, overrides;
    </style> 
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <footer>

    </footer>
  </body>
</html>

<style>
  main {
    margin-top: 70px; /* Kompenserer for fixed header */
  }
</style>

<style></style>
